@media (min-width: 1000px) {
    .btn:hover {
        color: var(--violet);
        background: var(--white);
    }

    .btn--sing-in:hover {
        color: var(--blue);
        background: var(--white);
        border: 1px solid var(--blue);
    }

    .btn--transparent:hover {
        color: var(--white);
        background: var(--blue);
        border: 1px solid var(--blue);
    }

    .instruments__item:hover {
        transform: translateY(-30px);
        margin-top: 0;
    }

    .instruments__item:hover .btn {
        display: block;
    }
}