@import url(/css/min1000.css);

:root {
    --violet: #7D75EC;
    --blue: #236FE3;
    --black: #111111;
    --white: #EFEFEF;
    --liner1: linear-gradient(222.27deg, #FFFFFF 0%, #C8C8C8 48.15%, #FFFFFF 105.24%);
    --liner2: linear-gradient(315.37deg, #FFFFFF 0%, #C8C8C8 41.89%, #C8C8C8 52.51%, #C8C8C8 60.81%, #FFFFFF 114.75%);
    --gradient-line: linear-gradient(318.23deg, #FFFFFF 0%, #737373 29.87%, #FFFFFF 46.1%, #737373 64.93%, #FFFFFF 86.83%);
    --liner3: linear-gradient(315deg, #FFFFFF 0%, #C8C8C8 75.37%);
    --transition: .2s ease-in-out all;
    --body-bg: #162630;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: var(--white);
}

img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

body {
    padding-top: 140px;
    background: url(../img/body-bg.png) var(--body-bg) top center / contain no-repeat;
    overflow-x: hidden;
}

h1 {
    font-size: clamp(40px, 8vh, 65px);
    line-height: 100%;
    font-weight: 600;
}

h2 {
    font-size: clamp(30px, 6vh, 42px);
    line-height: 100%;
    font-weight: 500;
}

h3 {
    font-size: clamp(23px, 4vh, 30px);
    line-height: 100%;
    font-weight: 500;
}

.text {
    font-size: clamp(18px, 4vh, 22px);
    font-weight: 400;
    line-height: 100%;
}

.text2 {
    font-size: clamp(16px, 3vh, 18px);
    font-weight: 400;
    line-height: 100%;
}

.text3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: clamp(18px, 4vh, 22px);
    font-weight: 600;
    line-height: 100%;
    padding: 20px 80px;
    color: var(--white);
    background: var(--violet);
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid var(--violet);
    text-decoration: none;
}

.btn--transparent {
    background: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.btn--sing-in {
    padding: 15px 37px;
    background: var(--blue);
}

header .container {
    position: fixed;
    z-index: 10;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: calc(1215px + 60px);
    height: 60px;
}

.header__box {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

header .container::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: calc(100% + 40px);
    background: url(../img/body-bg.png) var(--body-bg) center / cover no-repeat;
    filter: blur(20px);
}

header #menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

header .menu-item {
    list-style: none;
}

header .menu-item a {
    font-size: 18px;
    text-decoration: none;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container {
    position: relative;
    max-width: calc(1215px + 60px);
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

.hero .container {
    display: grid;
    grid-template-columns: 660px 1fr;
    align-items: center;
    padding-bottom: 50px;
}

.hero__img {
    position: relative;
    margin-left: -40px;
}

.hero__img::before {
    z-index: -1;
    position: absolute;
    content: '';
    top: 40px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    background: #FFFFFF78;
    border-radius: 50%;
    filter: blur(150px);
}

.hero h1 {
    margin-bottom: 40px;
}

.hero__item {
    max-width: 420px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;
}

.hero__number {
    font-size: 35px;
    margin-bottom: 5px;
}

.hero__description {
    font-size: 16px;
    color: #EFEFEF80;
}

.join-us .container {
    display: flex;
    gap: 185px;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;

    display: grid;
    grid-template-columns: 660px 1fr;
    gap: 100px;
}

.join-us h2 {
    margin-bottom: 20px;
}

.join-us p {
    margin-bottom: 60px;
}

.join-us__img {
    position: relative;
}

.join-us__img img {
    margin: auto;
}

.join-us__img::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: -40px;
    left: -40px;
    width: calc(100% + 80px);
    height: calc(100% + 80px);
    background: #FFFFFF78;
    filter: blur(150px);
    border-radius: 50%;
}

.join-us__img::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: -40px;
    left: -40px;
    width: calc(100% + 80px);
    height: calc(100% + 80px);
    background: url(../img/join-us-decor.svg) center / contain no-repeat;
    animation: rotate 20s linear 0s infinite normal none;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-with-translate {
    from {
        transform: rotate(0) translateY(-50%);
    }

    to {
        transform: rotate(360deg) translateY(-50%);
    }
}

.instruments {
    height: 590px;
    padding-top: 50px;
    padding-bottom: 150px;
}

.instruments h2 {
    max-width: 800px;
    margin-bottom: 60px;
}

.instruments__item {
    padding: 40px 30px;
    border-radius: 20px;
    background: var(--liner3);
    transition: var(--transition);

    animation-name: smoothBlock;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes smoothBlock {
    from {
        height: 0;
    }

    to {
        height: 260зч;
    }
}

.instruments h3 {
    margin-bottom: 20px;
    color: var(--black);
}

.instruments p {
    color: #111111CC;
}

.instruments__item .btn {
    display: none;
    max-width: 130px;
    margin-top: 30px;
    margin-left: auto;
    padding: 15px 22px;
}

.instruments__item--2,
.instruments__item--4 {
    margin-top: 30px;
}

.swiper1 {
    overflow: visible;
}

.how {
    padding-bottom: 180px;
}

.how .container::before {
    position: absolute;
    content: '';
    left: -570px;
    top: -15%;
    width: 470px;
    height: 470px;
    background: url(../img/join-us-decor.svg) center / contain no-repeat;
    animation: rotate 20s linear 0s infinite normal none;
}

.how .container::after {
    position: absolute;
    content: '';
    right: -570px;
    top: -15%;
    width: 470px;
    height: 470px;
    background: url(../img/join-us-decor.svg) center / contain no-repeat;
    animation: rotate 20s linear 0s infinite normal none;
}

.how h2 {
    margin-bottom: 60px;
    text-align: center;
}

.how__list {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.how__item {
    list-style: none;
}

.how h3 {
    margin-bottom: 20px;
    color: var(--violet);
}

.how .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.reviews {
    padding-top: 120px;
    padding-bottom: 120px;
    background: var(--liner3);
}

.reviews h2 {
    margin-bottom: 60px;
    text-align: center;
    color: var(--black);
}

.reviews__item {
    text-align: center;
}

.reviews__box {
    max-width: 750px;
    margin: auto;
}

.reviews__title {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    color: var(--black);
}

.reviews__item p {
    color: var(--black);
}

.reviews__title+p {
    margin-bottom: 50px;
    color: var(--black);
}

.reviews__author {
    margin-bottom: 3px;
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    color: var(--black);
}

.swiper2 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.swiper2 .swiper-pagination-bullet-active {
    background: var(--violet);
}

.swiper2 .swiper-pagination {
    position: initial;
    margin-top: 15px;
}

.reviews__item::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 280px;
    height: 100%;
    background: url(../img/reviews-1-left.png) center / contain no-repeat;
}

.reviews__item::after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 280px;
    height: 100%;
    background: url(../img/reviews-1-right.png) center / contain no-repeat;
}

.calendar {
    padding-top: 120px;
    padding-bottom: 120px;
}

.calendar .container {
    display: grid;
    gap: 30px;
    grid-template-columns: 695px 1fr;
    align-items: center;
}

.calendar h2 {
    margin-bottom: 30px;
}

.calendar__img {
    position: relative;
}

.calendar__img::before {
    z-index: -1;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #FFFFFF78;
    filter: blur(150px);
    border-radius: 50%;
}

.doors {
    background: var(--liner2);
}

.doors .container {
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 70px;
    align-items: center;
}

.doors__box {
    padding-top: 105px;
    padding-bottom: 105px;
}

.doors h2 {
    margin-bottom: 20px;
    color: var(--black);
}

.doors h2+p {
    margin-bottom: 40px;
    color: var(--black);
}

.doors__img {
    margin-top: -85px;
    height: calc(100% + 85px);
}

footer {
    padding-top: 130px;
    padding-bottom: 50px;
}

footer .container {
    display: grid;
    grid-template-columns: 310px 1fr;
    column-gap: 100px;
    row-gap: 50px;
    align-items: start;
}

.footer__logo {
    display: block;
    max-width: 250px;
    margin-bottom: 30px;
}

.footer__tel {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer__mail {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.footer__address {
    font-style: initial;
}

.footer__copyright {
    grid-column: 1/3;
}

.footer__copyright p {
    color: #EFEFEF80;
    margin-bottom: 15px;
}

footer .copyright {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
}

footer #menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 30px;
}

footer .menu-item {
    list-style: none;
}

footer .menu-item a {
    text-decoration: none;
}

footer #menu>.menu-item:nth-child(3) {
    grid-row: 1/3;
    grid-column: 3;
}

footer #menu .sub-menu {
    margin-top: 20px;
}

footer .sub-menu {
    display: grid;
    gap: 10px;
}