@media (max-width: 1200px) {

    .header {
        .container {
            top: 30px;

            &.active {
                &::before {
                    top: -30px;
                    height: calc(100% + 50px);
                    background: var(--body-bg);
                    filter: none;
                    transition: var(--transition);
                    border-radius: 0;
                }

                .header__burger {
                    background: url(../images/close.svg) center / contain no-repeat;
                }
            }
        }

        .menu {
            .sub-menu {
                &::before {
                    display: none;
                }
            }
        }

        &__mobile-box {
            display: none;

            &.active {
                position: absolute;
                top: 80px;
                left: -30px;
                width: calc(100% + 60px);
                height: calc(100vh - 110px);
                display: flex;
                flex-direction: column;
                gap: 70px;
                padding: 30px 40px 40px;
                background: var(--body-bg);
                animation: show-sub-menu .2s ease-in-out 0s 1 normal none;

                .menu {
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    align-items: start;

                    &>.menu-item {
                        width: 100%;

                        &:last-child {
                            &>a {
                                border-bottom: 1px solid #EFEFEF80;
                            }

                            &.active {
                                &>a {
                                    border-bottom: 1px solid var(--violet);
                                }
                            }
                        }

                        &>a {
                            height: 49px;
                            border-top: 1px solid #EFEFEF80;

                            &::after {
                                content: '';
                                width: 11px;
                                height: 5px;
                                background: url(../images/bottom.svg) center / contain no-repeat;
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 20px;
                            width: 100%;
                            padding: 13px 0;
                        }

                        &.active {

                            &>a {
                                width: calc(100% + 80px);
                                margin-left: -40px;
                                padding-left: 40px;
                                margin-right: -40px;
                                padding-right: 40px;
                                border-top: 1px solid var(--violet);
                                background: var(--violet);

                                &::after {
                                    transform: rotate(-180deg);
                                    transition: var(--transition);
                                }
                            }

                            .sub-menu {
                                position: initial;
                                display: flex;
                                flex-direction: column;
                                padding: 10px 0;
                                gap: 0;
                                background: var(--body-bg);
                                border-radius: 0;
                                animation: show-sub-item .3s ease-in-out 0s 1 normal none;

                                a {
                                    padding: 13px 10px;
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }

        &__lang {
            width: 100%;

            &.active {
                .header__languages {
                    position: initial;
                    display: flex;
                    flex-direction: column;
                    background: none;
                    animation: show-sub-menu .2s ease-in-out 0s 1 normal none;

                    a {
                        color: rgba(239, 239, 239, .5019607843);
                    }
                }

                .header__active-language {
                    &::after {
                        transform: rotate(-180deg);
                        transition: var(--transition);
                    }
                }
            }
        }

        &__languages {
            position: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 0;
            background: none;

            &::before {
                display: none;
            }

            a {
                color: var(--white);

                &.active {
                    color: var(--violet);
                }
            }
        }

        &__active-language {
            display: none;
        }

        &__corner {
            display: none;

            &.mobile {
                display: flex;
                flex-direction: column-reverse;
                height: 100%;
                justify-content: space-between;
                align-items: start;
            }
        }

        &__burger {
            display: block;
        }
    }

    .contacts {
        &-hero {
            padding-top: 110px;
            padding-bottom: 100px;
        }

        &__item {
            padding: 40px 25px;
        }

        &__map {
            height: 350px;
        }

        &__form {
            form {
                gap: 10px;
            }

            input {
                padding: 10px 20px;

                &[type=submit] {
                    margin-top: 20px;
                }
            }
        }
    }

    .successful-path {
        .container {
            padding-top: 100px;
            padding-bottom: 50px;
            grid-template-columns: 1fr 1fr;
        }
    }

    h1,
    .h1 {
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h3,
    .h3 {
        font-size: 23px;
    }

    .text {
        font-size: 18px;
    }

    .btn {
        font-size: 18px;
    }

    .hero {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &__img {
            margin: auto;
        }
    }

    .join-us {
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        &__img {
            order: 1;
            width: auto;
            height: auto;
        }
    }

    .instruments {
        height: auto;

        &__list {
            display: grid;
        }

        &__item {
            position: relative;
            margin-top: 0;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .swiper1 {
            display: none;
        }
    }

    .calendar {
        padding-top: 100px;
        padding-bottom: 100px;

        .container {
            grid-template-columns: 1fr 1fr;
        }

        &__img {
            order: 1;
        }
    }

    .banner-1 {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        &__box {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .banner-2 {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        &__box {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .banner-3 {
        .container {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        &__box {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }

    .footer {
        padding-top: 50px;

        .container {
            grid-template-columns: 1fr;
        }

        &__copyright {
            grid-column: initial;
        }
    }

    .benefit {
        .container {
            padding-bottom: 100px;
        }

        &__list {
            display: none;
        }

        &__item {
            :nth-child(1) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(2) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(3) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(4) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(5) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(6) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(7) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(8) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(9) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            :nth-child(10) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .swiper {
            display: block;
            margin-left: -30px;
            margin-right: -30px;

            .swiper-slide {
                height: auto;
            }
        }

        .btn {
            margin-top: 40px;
        }
    }

    .reviews {
        &__item {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__box {
            max-width: 100%;
        }
    }

    .about-hero {
        .container {
            grid-template-columns: 2fr 1fr;
            gap: 20px;
        }
    }

    .about {
        &__content {
            grid-template-columns: 1fr 2fr;
            gap: 80px;
        }
    }

    .acquaintance {
        margin-top: 0;

        .container {
            padding-top: 110px;
            padding-bottom: 100px;
            grid-template-columns: 2fr 1fr;
        }
    }

    .swiper {
        &4 {
            padding-top: 30px;
        }
    }

    .tariffs {
        margin-bottom: 100px;

        h2 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 40px;
        }

        &__item {
            height: 600px;
            padding: 30px 25px;
        }

        ul {
            gap: 10px;
        }

        .btn {
            margin-top: 40px;
            padding: 15px;
        }
    }

    .table {
        margin-top: 100px;
        padding-bottom: 100px;

        h2 {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: block;
            }

            &+p {
                margin-bottom: 40px;
            }
        }

        &__table {

            th {
                padding: 23px 30px;
                font-size: 16px;
            }

            td {
                padding: 10px 30px;
                font-size: 16px;

                span {
                    font-size: 16px;

                    &:first-child {
                        font-size: 18px;
                    }
                }
            }
        }

        &__btn {
            padding: 10px;
        }
    }

    .advantages {
        margin-top: 100px;
        margin-bottom: 100px;

        h2 {
            margin-bottom: 40px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 10px;
        }

        &__item {
            padding: 30px 25px;

            &:nth-child(1) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            &:nth-child(2) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(8) {
                height: 340px;
            }

            &:nth-child(5) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            &:nth-child(6) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            &:nth-child(7) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }

            &:nth-child(9) {
                &::before {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    .payment-methods {
        padding-top: 100px;
        padding-bottom: 100px;

        h2 {
            margin-bottom: 50px;
        }

        &__list {
            gap: 25px;

            img {
                max-width: 125px;
            }
        }
    }

    .traiding-platform {
        margin-top: 110px;
        margin-bottom: 100px;
    }

    .perform-operations {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .platforms {
        &__item {
            &:nth-child(1) {
                .platforms__content {
                    max-width: 60%;
                }

                &::before {
                    background: image-set(url(../images/platforms-item-1.avif),
                            url(../images/platforms-item-1.webp),
                            url(../images/platforms-item-1.png)) right center / 40% no-repeat;
                }
            }

            &:nth-child(2) {
                .platforms__content {
                    max-width: 60%;
                }

                &::before {
                    background: image-set(url(../images/platforms-item-2.avif),
                            url(../images/platforms-item-2.webp),
                            url(../images/platforms-item-2.png)) right center / 40% no-repeat;
                }
            }

            &:nth-child(3) {
                .platforms__content {
                    max-width: 100%;
                }

                .platforms__links {
                    max-width: 45%;
                }

                .platforms__image {
                    bottom: 0;
                    height: 70%;
                    transform: translateY(15%);
                }

                .btn {
                    padding: 13px 10px;
                }
            }
        }
    }

    .error-hero {
        padding-top: 110px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 100% no-repeat;
    }

    .contacts-hero {
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 100% no-repeat;
    }

    .analytics {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 100% no-repeat;
    }

    .news-hero {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 100% no-repeat;
    }

    .forecasts-hero {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 100% no-repeat;
    }

    .currencies {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% calc(100% - 110px) no-repeat;

        p {
            margin-bottom: 0;
        }
    }

    .cryptocurrencies-hero {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 460px no-repeat;

        p {
            margin-bottom: 0;
        }

        &__list {
            margin-top: 100px;
        }
    }

    .stocks-hero {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 430px no-repeat;

        &__list {
            margin-top: 100px;
        }
    }

    .indexes-hero {
        padding-top: 105px;
        padding-bottom: 100px;
        background: url(../images/section-bg-mobile.svg) center top 10px / 100% 430px no-repeat;

        &__list {
            margin-top: 100px;
        }
    }

    .what-are-cryptocurrencies {
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
            gap: 40px;
        }

        &__item {
            &-1 {
                grid-template-columns: 2fr 1fr;
                gap: 40px;

                h2 {
                    margin-bottom: 30px;
                }

                p {
                    max-width: 100%;
                }
            }

            &-2 {
                grid-template-columns: 1fr 2fr;
                gap: 40px;

                p {
                    max-width: 100%;
                }
            }
        }
    }

    .state-of-the-market {
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        h2 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 40px;
            max-width: 100%;
        }
    }

    .quotes-online {
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .btn {
            padding: 20px 40px;
            white-space: nowrap;
        }
    }

    .charts {
        .container {
            padding-bottom: 100px;
        }

        &__item {
            height: initial;
            padding: 40px 20px;

            p {
                margin-bottom: 20px;
            }
        }

        .widget-box {
            max-width: 100%;

            .mch-widget-ymxwhu.mch-widget-chart {
                min-width: auto;
                height: 400px;
            }
        }
    }

    .charts-online {
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        h2 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 40px;
        }
    }

    .faq {
        .container {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        h2 {
            margin-bottom: 40px;
        }

        .accordion {
            h3 {
                gap: 10px;
                padding: 30px 20px;

                &:not(:first-child) {
                    margin-top: 10px;
                }

                &::after {
                    width: 35px;
                    height: 35px;
                }

                div {
                    font-size: clamp(18px, 3vw, 20px);
                }
            }
        }
    }
}