@media (max-width: 1800px) {
    .how {
        &__before {
            width: 360px;
            height: 360px;
            left: -230px;
            top: 40px;
        }

        &__after {
            width: 360px;
            height: 360px;
            right: -230px;
            top: 40px;
        }
    }

    .how-white {
        &__before {
            width: 360px;
            height: 360px;
            left: -230px;
        }

        &__after {
            width: 360px;
            height: 360px;
            right: -230px;
        }
    }
}