@media (max-width: 600px) {
    .acquaintance {
        .container {
            grid-template-columns: 1fr;
        }
    }

    .banner-1 {
        .container {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__box {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;

            &.mobile {
                display: inline-block;
                margin-top: -30px;
            }

            &.desktop {
                display: none;
            }
        }

        h2 {
            &+p {
                margin-bottom: 0;
            }
        }

        &__image {
            margin-left: -55px;
        }
    }

    .banner-2 {
        .container {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__box {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;

            &.mobile {
                display: inline-block;
                margin-top: -30px;
            }

            &.desktop {
                display: none;
            }
        }

        h2 {
            font-size: clamp(29px, 7vw, 30px);

            &+p {
                margin-bottom: 0;
            }
        }

        &__image {
            max-height: 365px;
            width: calc(100% + 20px);
            margin-left: -10px;
            margin-right: -10px;
            justify-content: end;

            img {
                margin-left: 0;
                margin-right: 15px;
                max-height: 365px;
            }

            &::before {
                width: initial;
                height: 88%;
                left: auto;
                right: 0;
            }
        }
    }

    .banner-3 {
        .container {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__box {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;
            margin-top: -10px;

            &.mobile {
                display: inline-block;
            }

            &.desktop {
                display: none;
            }
        }

        h2 {
            &+p {
                margin-bottom: 0;
            }
        }

        &__image {
            width: 100%;
            aspect-ratio: initial;
            margin-bottom: 30px;

            &::before {
                top: 30px;
            }

            img {
                object-position: bottom;
                transform: none;
            }
        }
    }

    .what-are-stocks {
        &__item {
            grid-template-columns: 1fr;
        }
    }
}