@media (max-width: 600px) {
    .acquaintance {
        .container {
            grid-template-columns: 1fr;
        }
    }

    .banner-1 {
        .container {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__box {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;

            &.mobile {
                display: inline-block;
                margin-top: -30px;
            }

            &.desktop {
                display: none;
            }
        }

        h2 {
            &+p {
                margin-bottom: 0;
            }
        }

        &__image {
            margin-left: -55px;
        }
    }

    .banner-2 {
        .container {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__box {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;

            &.mobile {
                display: inline-block;
                margin-top: -30px;
            }

            &.desktop {
                display: none;
            }
        }

        h2 {
            &+p {
                margin-bottom: 0;
            }
        }

        &__image {
            margin-left: -55px;
        }
    }

    .doors {
        .container {
            grid-template-columns: 1fr;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__box {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;

            &.mobile {
                display: inline-block;
                margin-top: -30px;
            }

            &.desktop {
                display: none;
            }
        }

        h2 {
            &+p {
                margin-bottom: 0;
            }
        }

        &__image {
            margin-left: -55px;
        }
    }
}