@media (max-width: 700px) {
    .traiding-platform {
        .btn {
            padding: 20px 50px;
        }
    }

    .doors {
        .btn {
            padding: 20px 60px;
        }
    }

    .quotes-online {
        &__box {
            p {
                max-width: 100%;
                margin-bottom: 5px;
            }
        }
    }
}