@media (max-width: 768px) {
    .footer {
        .menu {
            grid-template-columns: 1fr;

            &>.menu-item:nth-child(3) {
                grid-row: initial;
                grid-column: initial;
            }
        }

        &__copyright {
            display: none;
        }

        .copyright {
            max-width: 175px;
            margin: auto;
            margin-top: 30px;
        }

        &__accordion {
            display: block;
            margin-top: 10px;

            h3 {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                color: #EFEFEF99;
                padding: 10px 0;
                border-bottom: 1px solid #EFEFEF80;

                &::after {
                    content: '';
                    display: block;
                    width: 11px;
                    height: 5px;
                    flex: 0 0 auto;
                    background: url(../images/footer-arrow.svg) center / contain no-repeat;
                }

                .ui-icon {
                    display: none;
                }
            }

            p {
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                color: #EFEFEF99;
            }
        }
    }

    .calendar {
        .container {
            grid-template-columns: 2fr 1fr;
        }

        .btn {
            padding: 20px 40px;
        }
    }

    .acquaintance {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }

    .join-us {
        .container {
            align-items: start;
        }

        &__box {
            min-width: 290px;
        }

        &__img {
            width: 100%;
            height: auto;
        }
    }

    .about {
        &__content {
            gap: 30px;
        }
    }

    .start-investing {
        .container {
            grid-template-columns: 2fr 1fr;
            gap: 30px;
        }

        &__box {
            width: 350px;
        }

        &__image {
            width: 400px;
        }

        .btn {
            padding: 20px 40px;
        }
    }

    .banner-4 {
        .container {
            grid-template-columns: 2fr 1fr;
        }

        &__image {
            order: 1;
        }

        p {
            margin-bottom: 30px;
        }
    }

    .hero {
        &__box {
            min-width: 290px;
        }

        &__img {
            min-width: 350px;
        }

        &__number {
            margin-bottom: 0;
            font-size: 18px;
        }

        &__info {
            max-width: 110px;
        }

        &__item {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .banner {
        .container {
            padding: 100px 10px;
        }

        &__before {
            display: none;
        }

        &__after {
            display: none;
        }

        h2 {
            margin-bottom: 15%;
            font-size: clamp(23px, 5vw, 30px);
        }

        .btn {
            order: 1;
            margin-top: -5px;
        }

        picture {
            position: relative;

            &::before {
                z-index: -1;
                position: absolute;
                content: "";
                width: 60%;
                height: 180%;
                left: 20%;
                top: -40%;
                background: url(../images/join-us-decor.svg) center / contain no-repeat;
                animation: rotate 20s linear 0s infinite normal none;
                filter: brightness(0) saturate(100%) invert(56%) sepia(90%) saturate(3055%) hue-rotate(216deg) brightness(93%) contrast(98%);
            }
        }
    }

    .traiding-platform {
        .container {
            grid-template-columns: 1fr 1fr;
        }
    }

    .history {
        &__border {
            width: 120px;
            height: 120px;
        }
    }

    .platforms {
        h2 {
            margin-bottom: 20px;
        }

        &__item {
            padding: 40px 20px;
            height: 710px;

            &:nth-child(1) {
                &::before {
                    background: image-set(url(../images/platforms-item-1.avif),
                            url(../images/platforms-item-1.webp),
                            url(../images/platforms-item-1.png)) left -105px bottom / calc(100% + 150px) 300px no-repeat;
                }

                .platforms__content {
                    max-width: 100%;
                }
            }

            &:nth-child(2) {
                &::before {
                    background: image-set(url(../images/platforms-item-2.avif),
                            url(../images/platforms-item-2.webp),
                            url(../images/platforms-item-2.png)) center bottom 60px / 440px no-repeat;
                }

                .platforms__content {
                    max-width: 100%;
                }
            }

            &:nth-child(3) {
                .platforms__links {
                    max-width: 100%;
                }

                .platforms__image {
                    height: 400px;
                    padding: 5%;
                }
            }

            .btn {
                padding: 15px;
                font-size: 18px;
            }
        }

        &__content {
            justify-content: start;
            align-items: center;
        }
    }

    .banner-2 {
        &__image {
            &::before {
                top: auto;
                bottom: -10%;
            }
        }
    }

    .banner-3 {
        .container {
            grid-template-columns: 2fr 1fr;
        }
    }
}