@media (max-width: 900px) {
    .table {
        &__buttons {
            display: none;
        }

        &__box {
            border-radius: 0;
        }
    }

    .how-white {
        .container {
            padding-left: 70px;
            padding-right: 70px;
        }
    }

    .banner-3 {
        &__image {
            width: auto;
            aspect-ratio: 1/1;
        }
    }
}