@media (max-width: 1400px) {
    .how {
        &__before {
            opacity: 0.2;
        }

        &__after {
            opacity: 0.2;
        }

        .container {
            padding-left: 60px;
            padding-right: 60px;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__list {
            flex-direction: column;
            gap: 30px;
            margin-bottom: 30px;
            align-items: center;
        }

        &__item {
            text-align: center;
        }
    }

    .banner {
        .container {
            padding-left: 12%;
            padding-right: 12%;
        }
    }
}