@media (max-width: 500px) {
    .btn {
        width: 100%;
        padding: 15px;
    }

    .header {
        &__logo {
            max-width: 95px;
        }
    }

    .hero {
        &__item {
            max-width: 300px;

            img {
                max-width: 145px;
            }
        }

        h1 {
            margin-bottom: 50px;
        }

        &__number {
            margin-bottom: 0;
            font-size: 18px;
        }
    }

    .footer {
        .container {
            gap: 40px;
        }

        &__logo {
            max-width: 160px;
            margin-bottom: 20px;
        }

        .menu {
            gap: 25px;
        }

        &__links {
            a {
                font-size: 16px;
            }
        }

        .menu-item {
            a {
                font-size: 18px;
            }
        }

        .sub-menu {
            .menu-item {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}