@media (max-width: 768px) {
    .footer {
        .menu {
            grid-template-columns: 1fr;

            &>.menu-item:nth-child(3) {
                grid-row: initial;
                grid-column: initial;
            }
        }

        &__copyright {
            display: none;
        }

        .copyright {
            max-width: 175px;
            margin: auto;
            margin-top: 30px;
        }

        &__accordion {
            display: block;
            margin-top: 10px;

            h3 {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                color: #EFEFEF99;
                padding: 10px 0;
                border-bottom: 1px solid #EFEFEF80;

                &::after {
                    content: '';
                    display: block;
                    width: 11px;
                    height: 5px;
                    flex: 0 0 auto;
                    background: url(../images/footer-arrow.svg) center / contain no-repeat;
                }

                .ui-icon {
                    display: none;
                }
            }

            p {
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 14px;
                line-height: 17px;
                font-weight: 400;
                color: #EFEFEF99;
            }
        }
    }

    .join-us {
        .container {
            align-items: start;
        }

        &__box {
            min-width: 290px;
        }

        &__img {
            width: 100%;
            height: auto;
        }
    }

    .successful-path {
        .container {
            grid-template-columns: 2fr 1fr;
        }

        &__image {
            order: 1;
        }
    }

    .hero {
        &__box {
            min-width: 290px;
        }

        &__img {
            min-width: 350px;
        }

        &__number {
            margin-bottom: 0;
            font-size: 18px;
        }

        &__info {
            max-width: 110px;
        }

        &__item {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}