@media (max-width: 992px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header {
        .container {
            top: 30px;
            
            &::before {
                top: -40px;
                height: calc(100% + 70px);
                left: -40px;
                width: calc(100% + 80px);
            }
        }

        &__mobile-box {
            &.active {
                left: -10px;
                width: calc(100% + 20px);
                padding: 20px;
            }
        }
    }

    .contacts {
        .container {
            grid-template-columns: 1fr;
        }
    }
}