@media (max-width: 992px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .header {
        .container {
            top: 0;
            
            &::before {
                top: -40px;
                height: calc(100% + 70px);
                left: -40px;
                width: calc(100% + 80px);
            }
        }

        &__box {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &__mobile-box {
            &.active {
                left: -10px;
                width: calc(100% + 20px);
                height: calc(100vh - 80px);
                padding: 20px 20px 40px;
            }
        }
    }

    .contacts {
        .container {
            display: flex;
            flex-direction: column;
            grid-template-rows: initial;
        }

        &__form {
            order: 1;
            grid-row: initial;
        }
    }
}