@media (min-width: 1200px) {
    a {
        &:hover {
            color: var(--violet);
        }
    }

    .accordion {
        h3 {
            &:hover {
                &::before {
                    opacity: 1;
                }

                &::after {
                    background: url(../images/accordion-bottom-white.svg) var(--blue) center / 20px 10px no-repeat;
                }
            }
        }
    }

    .major-stock-indexes {
        &__item {
            &:hover {
                .major-stock-indexes__item--hover {
                    opacity: 1;
                }
            }
        }
    }

    .platforms {
        &__webtrader {
            &:hover::before {
                background: url(../images/platforms-btn-webtrader-hover.svg) center / contain no-repeat;
            }
        }

        &__windows {
            &:hover::before {
                background: url(../images/platforms-btn-windows-hover.svg) center / contain no-repeat;
            }
        }

        &__appstore {
            &:hover::before {
                background: url(../images/platforms-btn-appstore-hover.svg) center / contain no-repeat;
            }
        }

        &__googleplay {
            &:hover::before {
                background: url(../images/platforms-btn-googleplay-hover.svg) center / contain no-repeat;
            }
        }
    }

    .history {
        &__border {
            &:hover {
                background: var(--white);

                & img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(49%) saturate(53%) hue-rotate(260deg) brightness(114%) contrast(87%);
                }

                .history__image::after {
                    opacity: 1;
                }
            }
        }
    }

    .values {
        &__item {
            &:nth-child(1) {
                &:hover {
                    .values__image {
                        &::before {
                            background: url(../images/values-item-hover-1.svg) center / 110px no-repeat;
                        }
                    }
                }
            }

            &:nth-child(2) {
                &:hover .values__image::before {
                    background: url(../images/values-item-hover-2.svg) center / 110px no-repeat;
                }
            }

            &:nth-child(3) {
                &:hover .values__image::before {
                    background: url(../images/values-item-hover-3.svg) center / 110px no-repeat;
                }
            }

            &:nth-child(4) {
                &:hover .values__image::before {
                    background: url(../images/values-item-hover-4.svg) center / 110px no-repeat;
                }
            }

            &:hover {
                background: var(--violet);

                h3 {
                    color: var(--white);
                }

                p {
                    color: var(--white);
                }
            }
        }
    }

    .in-numbers {
        &__border {
            &:hover {
                background: var(--white);

                .h3 {
                    color: var(--white);
                }

                .in-numbers__bg {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .header {
        .menu-item {
            a {
                &::after {
                    transition: var(--transition);
                }
            }

            &:hover {
                &>a {
                    color: var(--violet);

                    &::after {
                        color: var(--violet);
                        transform: rotate(-180deg);
                    }
                }

                .sub-menu {
                    display: grid;
                    opacity: 1;
                    animation: show-sub-menu .2s ease-in-out 0s 1 normal none;
                }
            }
        }

        .sub-menu {
            .menu-item {
                a {
                    &:hover {
                        color: var(--violet);
                    }
                }
            }
        }

        &__lang {
            &:hover {
                .header__active-language {
                    color: var(--violet);

                    &::after {
                        color: var(--violet);
                        transform: rotate(-180deg);
                    }
                }

                .header__languages {
                    display: grid;
                    opacity: 1;
                    animation: show-sub-menu .2s ease-in-out 0s 1 normal none;
                }
            }
        }

        &__languages {
            a {
                &:hover {
                    color: var(--violet);
                }
            }

            &::after {
                transition: var(--transition);
            }
        }

        &__active-language {
            &::after {
                transition: var(--transition);
            }
        }
    }

    .btn {
        &:hover {
            color: var(--violet);
            background: var(--white);
        }

        &--transparent {
            &:hover {
                color: var(--white);
                background: var(--blue);
                border: 1px solid var(--blue);
            }
        }

        &--sing-in {
            &:hover {
                color: var(--white);
                background: var(--blue);
            }
        }
    }

    .instruments {
        &__item {
            &:hover {
                transform: translateY(-30px);
                margin-top: 0;
                transition: var(--transition);

                .btn {
                    display: block;
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                a {
                    cursor: initial;

                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }

        .sub-menu {
            .menu-item {
                a {
                    cursor: pointer;

                    &:hover {
                        color: var(--violet);
                    }
                }
            }
        }
    }

    .tariffs {
        &__item {
            &:hover {
                transform: translateY(-20px);
            }
        }

        &__more {
            &:hover {
                color: var(--violet);

                &::after {
                    background: url(../images/tariffs-more-hover.svg) center / contain no-repeat;
                }
            }
        }
    }

    .table {
        &__show {
            &:hover {
                color: var(--violet);

                &::after {
                    background: url(../images/tariffs-more-hover.svg) center / contain no-repeat;
                }
            }
        }
    }
}