<section class="banner-3 section-without banner-3--news">
    <div class="container">
        <div class="banner-3__box">
            <h2>Покорите финансовые вершины прямо сейчас!</h2>
            <p class="text">Присоединяйтесь к&nbsp;нам и&nbsp;начните свой путь к&nbsp;финансовой грамотности и&nbsp;стабильности!</p>
            <a href="##" class="btn" target="_blank">Открыть счёт</a>
        </div>
        <div class="banner-3__img">
            <div class="banner-3__decor"></div>
            <picture>
                <source srcset="images/conquer-the-peaks.avif">
                <source srcset="images/conquer-the-peaks.webp">
                <img src="images/conquer-the-peaks.png" alt="">
            </picture>
        </div>
    </div>
</section>