<section class="banner-4">
    <div class="container">
        <picture class="banner-4__image">
            <source srcset="images/successful-path-image.avif">
            <source srcset="images/successful-path-image.webp">
            <img src="images/successful-path-image.png" alt="">
        </picture>
        <div class="banner-4__box">
            <h2>Успешный путь в&nbsp;мире инвестиций</h2>
            <p class="text">Начните сегодня и&nbsp;создайте свой успешный путь в&nbsp;мире финансовых инвестиций вместе с&nbsp;нами!</p>

            <a href="##" class="btn btn--transparent" target="_blank">Открыть счет</a>
        </div>
    </div>
</section>