<section class="banner-2 section-without">
    <div class="container">
        <div class="banner-2__box">
            <h2>Откройте двери к&nbsp;новым финансовым возможностям!</h2>
            <p class="text">Раскройте перед собой новые горизонты финансового&nbsp;успеха!</p>
            <a href="##" class="btn desktop" target="_blank">Открыть счёт</a>
        </div>

        <picture class="banner-2__image">
            <source srcset="images/doors-image.avif">
            <source srcset="images/doors-image.webp">
            <img src="images/doors-image.png" alt="">
        </picture>

        <a href="##" class="btn mobile" target="_blank">Открыть счёт</a>
    </div>
</section>