<footer class="footer">
    <div class="container">
        <div class="footer__links">
            <a href="/" class="footer__logo">
                <img src="/images/footer-logo.svg" alt="">
            </a>
            <a href="tel:+44 1971779178" class="footer__tel">Телефон: +44 1971779178</a>
            <a href="mailto:support@patronus.com" class="footer__mail">Email: support@patronus.com</a>
            <address class="footer__address">Адрес: 125 St Paul's Way, London, UK</address>
        </div>

        <div>
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Аналитика</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="../analytics.html">Аналитика рынка</a></li>
                        <li class="menu-item"><a href="../news.html">Новости рынка</a></li>
                        <li class="menu-item"><a href="../forecasts.html">Прогнозы рынка</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Торговые инструменты</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="../currencies.html">Валюты</a></li>
                        <li class="menu-item"><a href="../cryptocurrencies.html">Криптовалюты</a></li>
                        <li class="menu-item"><a href="../stocks.html">Акции</a></li>
                        <li class="menu-item"><a href="../indexes.html">Индексы</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Документы</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="#">Клиентское соглашение</a></li>
                        <li class="menu-item"><a href="#">Политика конфиденциальности</a></li>
                        <li class="menu-item"><a href="#">Политика возврат плетежей</a></li>
                        <li class="menu-item"><a href="#">Свидетельство о регистрации</a></li>
                        <li class="menu-item"><a href="#">Политика AML</a></li>
                        <li class="menu-item"><a href="#">Политика KYC</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Торговля</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="../terms-of-trade.html">Условия торговли</a></li>
                        <li class="menu-item"><a href="../platform.html">Платформа</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">О компании</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="../about.html">О Patronus Investments</a></li>
                        <li class="menu-item"><a href="../contacts.html">Контакты</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="footer__copyright">
            <p class="text2">Уведомление о&nbsp;рисках: торговля валютами, контрактами на&nbsp;разницу (CFD) и&nbsp;другими активами с&nbsp;привлечением заемных средств несет высокий риск для капитала и&nbsp;подходит не&nbsp;всем инвесторам. Прежде чем начать торговать, убедитесь, что вы&nbsp;полностью понимаете связанные с&nbsp;этим риски, учитываете свои инвестиционные цели и&nbsp;уровень опыта, а&nbsp;при необходимости обратитесь за&nbsp;консультацией к&nbsp;независимому эксперту. Пожалуйста, прочтите полное предупреждение о&nbsp;риске.</p>
            <p class="text2">Региональные ограничения: услуги и&nbsp;информация на&nbsp;данном сайте не&nbsp;предназначены для граждан/резидентов США, а&nbsp;также для распространения или использования любым лицом в&nbsp;любой стране или юрисдикции, где такое распространение или использование противоречило&nbsp;бы местному законодательству или нормативным актам.</p>
            <p class="text2 copyright">&copy;&nbsp;Все права защищены. Patronus Investment 2024</p>
        </div>
    </div>
</footer>

<script defer src="/js/main.min.js"></script>
</body>

</html>