<section class="doors section-without">
    <div class="container">
        <div class="doors__box">
            <h2>Откройте двери к&nbsp;новым финансовым возможностям!</h2>
            <p class="text">Раскройте перед собой новые горизонты финансового&nbsp;успеха!</p>
            <a href="##" class="btn" target="_blank">Открыть счёт</a>
        </div>
        <div class="doors__img">
            <div class="doors__decor reverse"></div>
            <picture class="doors__analytics">
                <source srcset="images/doors-image.avif">
                <source srcset="images/doors-image.webp">
                <img src="images/doors-image.png" alt="">
            </picture>
        </div>
    </div>
</section>